extends ../layouts/subpage
include ../mixins/vscript
include ../mixins/prisons


block js

block content

  #fengsler.relative.px2.lg-px4
    section#content.clearfix.fit.lg-px2
      
      .clearfix
        
        .col.col-12.lg-pr2

          h1.h1.main-heading Fengsler

          ul.list-reset.mb2
            each prison in prisons
              li.mb1
                h3.m0.inline-block= prison.name
                span   -  
                a.inline-block(href=prison.url)= prison.url
          
          p 
            | Se oversikt over instruktører 
            a(href="/instruktoerer") her


          section#prisons.fit.my4.clearfix.xs-hide.sm-hide
            +prisons(prisons)
