extends ../layouts/default


block content
	.container.gallery
		header.row
			h2= gallery.name
				if gallery.publishedDate
					.pull-right.text-muted= gallery._.publishedDate.format('Do MMM YYYY')
		
		each row in gallery.chunkedImages(4)
			.row.image-row
				each image in row
					.column.column-25.image: img(src=image.limit(300,300))
