extends ../layouts/default


block content
  #front-page.max-width-4.mx-auto

    header#cover.lg-mt4.mt0.relative
      .clearfix
        .logo.m2.md-mt4.md-mx-auto
        .hamburger-wrapper.top-0.right-0.mt2.mr2.md-m4.absolute
          .hamburger
            .line
            .line
            .line

    section.content.clearfix.px3.my3.lg-px4

      .clearfix.mxn3

        .col.col-12.md-col-3.mb2.z1
          .clearfix
            .col.col-12.photo.md-mb2(style="background-image: url(/images/webgangster-filter-lys.png)")

            
        .col.col-12.px3.md-px0.md-col-9
          .clearfix.md-mb3
            .col.col-12.md-col-6.text.md-pl3
              .text-block.p3.center
                p.h1 “Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his.”  
            a.col.col-12.md-col-6.link.center.px2.md-pl3
              .image(href="#vårtarbeid", style="background-image: url(/images/vårtarbeid.png)")
                span.text Vårt Arbeid
          .clearfix.md-pl3
            .col.col-12.photo.overflow-down.pt2(style="background-image: url(/images/webgangster_bw.png)")

        .col.col-12.pull-up-3
          a.col.col-12.md-col-4.link.outlined-r.center
            .image(href="#yogasommetode", style="background-image: url(/images/yogasommetode.png)")
                span.text Yoga som metode
          .col.col-7
        
        .col.col-12
          .clearfix
            .col.col-12.md-col-4.md-pr4.text.vertical
              .text-block.p3.center
                p.h1 “Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his.” 
            .col.col-12.md-col-4 &nbsp;
            a.col.col-12.md-col-4.link.outlined-l.center.md-mt4
              .image(href="#instruktører", style="background-image: url(/images/instruktører.png)")
                span.text Instruktører
           
  
                



      