extends ../layouts/default


block content
  #front-page.max-width-4.mx-auto

    header#cover.lg-mt4.mt0.relative
      .clearfix
        .logo.m2.md-mt4.md-mx-auto
        .hamburger-wrapper.top-0.right-0.mt2.mr2.md-m4.absolute
          .hamburger
            .line
            .line
            .line

    section.content.clearfix.px4.my4

      .col-group
        .block.col.col-4.photo lol
        .block.col.col-4.text lol
        .block.col.col-4.link lol
  
                



      