extends ../layouts/default

block js
  script(src="/js/hero.js")

block content
  
  #loader
    .spinner-wrapper
      .sk-folding-cube
        .sk-cube1.sk-cube
        .sk-cube2.sk-cube
        .sk-cube4.sk-cube
        .sk-cube3.sk-cube
  
  
  #root-container
     
     #hero
      #hero-background(data-background='/images/vend.jpg')
      #main-logo
        .background-fill
        .svg
          include ../../public/gfx/logo_white.svg
      h1
        textarea(value="", data-text="For de som tørr å møte seg selv.")
        
      .footer
        .arrow
          img(src='/gfx/down-chevron.svg')

      nav.side-bar#main-sidebar
        .hamburger#menu-toggle
          .line
          .line
          .line
        ul.menu
          li Fengsler
          li Om Yoga
          li Kontakt
    
    .container
      



      