extends ../layouts/default

block content
  
  #root-container
     
     #hero
      .main-logo
        .background-fill
          object(data='/images/logo_white.svg', type='image/svg+xml', height="100%" width="100%")
            img(src='/images/logo_black.svg')
      h1
        textarea(value="")
        
      .footer
        .arrow
          img(src='/images/down-chevron.svg')

      nav.side-bar#main-sidebar
        .hamburger#menu-toggle
          .line
          .line
          .line
        ul.menu
          li Fengsler
          li Om Yoga
          li Kontakt
    
    .container
      



      