extends ../layouts/default


block content
  #front-page.max-width-4.mx-auto

    .clearfix

      .col-group
        .block.col.col-4.photo lol
        .block.col.col-4.text lol
        .block.col.col-4.link lol
  
                



      