extends ../layouts/default


block content
  #front-page
    .container

      .col-group
        .block.col-4.photo
        .block.col-4.text
        .block.col-4.link
      
      .col-group
        .block.col-4.link.layer-b
        .block.col-4.photo.layer-a
      
      .col-group
        .block.col-4.text
        .block.col-4.photo.overflow-y-down.layer-a
        .block.col-4.link.layer-b
      
      .col-group
        .block.col-4.text.layer-b
        .block.col-4.blank
        .block.col-4.link
  
                



      