extends ../layouts/default


block content
  #front-page.max-width-4.mx-auto

    header#cover.lg-mt4.mt0.relative
      .clearfix
        .logo.m2.md-mt4.md-mx-auto
        .hamburger-wrapper.top-0.right-0.mt2.mr2.md-m4.absolute
          .hamburger
            .line
            .line
            .line

    section.content.clearfix.px2.my2.lg-px4.lg-my4

      .clearfix.mxn2

        .col.col-12.md-col-4.mb2
          .clearfix
            .col.col-12.photo.md-pr2
              img.block.mx-auto(src="/images/webgangster-filter-lys.png")

        .col.col-12.px2.md-px0.md-col-8.photo
          .clearfix
            .col.col-12.md-col-6.text.md-pr2
              .text-block.p2.center
                p.h1 “Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his.”  
            a.col.col-12.md-col-6.link.center.px2(href="#vårtarbeid", style="background-image: url(/images/vårtarbeid.png)")
              .h1 Vårt Arbeid
          .clearfix
            .col.col-12.photo.pt2
              img(src="/images/webgangster_bw.png")

  
                



      