extends ../layouts/default
include ../mixins/vscript
include ../mixins/prisons


block js
  script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=false")
  +vscript('front-page')

block content

  section#content.clearfix.fit

    #mobile-video.video.mx-auto.sm-hide.md-hide.lg-hide
      .content.clearfix
        .play-button.fit
          img.mx-auto(src="/gfx/play.svg")
        iframe.hidden(src='https://player.vimeo.com/video/179913310?title=0&byline=0&portrait=0', width='100%', height='100%', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')

    section#articles.clearfix.my3.md-my4.mxn2.px2.md-px4

      article.col.col-12.md-col-4.md-pr2.center.mb3.md-mb0
          .image.mb2.mx-auto
            img(src="/images/fotograf-nicki-twang-prisonyoga-013@2x.png")
          h1.h3 Some article
          p.px3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
      
      article.col.col-12.md-col-4.md-pr2.center.mb3.md-mb0
          .image.mb2.mx-auto
            img(src="/images/webgangster-5@2x.png")
          h1.h3 Some article
          p.px3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
      
      article.col.col-12.md-col-4.md-pr2.center.md-mb0
          .image.mb2.mx-auto
            img(src="/images/webgangster-11@2x.png")
          h1.h3 Some article
          p.px3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
  
    section#hero-text.fit.py2.md-py3.px2.md-px3.mb1.md-mb4.clearfix
      .col.col-12.md-col-5.middle-text
        .text.h1.md-h1 - If you got the balls!
      .col.col-12.md-col-7.middle-text 
        .text Gangsteryoga i Norge er en idéell virksomhet som er underordnet stiftelsen «Yoga for Livet». Vårt langsiktige mål er å tilby forebyggende tiltak for ungdom på skråplanet og å gi tidligere innsatte muligheten til å bidra i prosessen. Gangsteryoga setter søkelys på det å være menneske og hvordan man får kontakt med det innerste i seg selv. Puste seg gjennom utfordringer. Kjenne på stivheter og ubehag, og gradvis bygge opp en større klarhet i sinnet som blir vedvarende og stabil.  Ler mer
    
    section#hero-image.fit.px1.md-px3.md-mb4.my2.clearfix
      img(src="/images/fotograf-nicki-twang-prisonyoga-013@2x.png")

    section#prisons.fit.my4.clearfix.xs-hide.sm-hide
      +prisons(prisons)
  
    section#gallery.px2.md-px4.md-mt4
      .clearfix.mxn1.md-mxn2

        .col.col-3
          .img.long(style="background-image: url(/images/webgangster-27-s@2x.png)")
          .img.medium(style="background-image: url(/images/webgangster-7-s-bw.png)")
          .img.short(style="background-image: url(/images/webgangster_s_bw.jpg)")
          .long.quote.middle-text
            .text
              span "Yoga hjelper meg i hverdagen å bli roligere, så jeg ikke slår ihjæl betjentene!"
              br
              span - Khalil
          .img.short(style="background-image: url(/images/webgangster_11_s_bw.jpg)")
            .blue

        .col.col-3
          .img.short(style="background-image: url(/images/Fotograf_Nicki_Twang_prisonyoga_012.jpg)")
            .blue
          .img.short.logo
          .img.short(style="background-image: url(/images/webgangster_26.jpg)")
          .img.short(style="background-image: url(/images/fotograf-nicki-twang-prisonyoga-007-copy@2x.png)")
          .img.short(style="background-image: url(/images/Fotograf_Nicki_Twang_prisonyoga_002.jpg)")
          .img.long(style="background-image: url(/images/webgangster_24.jpg)")
        
        .col.col-3
          .img.short(style="background-image: url(/images/fotograf-nicki-twang-prisonyoga-009-copy@2x.png)")
          .img.short(style="background-image: url(/images/Fotograf_Nicki_Twang_prisonyoga_014.jpg)")
          .short.quote.middle-text
            .text
              span "Sitat om noe."
              br 
              span - Deltager
          .img.short(style="background-image: url(/images/Fotograf_Nicki_Twang_prisonyoga_001copy.jpg)")
            .blue
          .img.medium(style="background-image: url(/images/webgangster_21.jpg)")
          .img.mediumeses(style="background-image: url(/images/webgangster_7.jpg)")
        
        .col.col-3
          .img.medium(style="background-image: url(/images/fotograf-nicki-twang-prisonyoga-005@2x.png)")
          .img.long(style="background-image: url(/images/Fotograf_Nicki_Twang_prisonyoga_003.jpg)")
          .img.long(style="background-image: url(/images/webgangster_28.jpg)")
          .img.short(style="background-image: url(/images/BITR.jpg)")
          .img.short(style="background-image: url(/images/Fotograf_Nicki_Twang_prisonyoga_010.jpg)")



  
          


              



    