extends ../layouts/default
include ../mixins/vscript

block js
  +vscript('front-page')


block content
  #front-page.relative

    header#cover.md-mb3.z2.absolute
      .clearfix
        .logo.m2.md-mt4.mx-auto
        .hamburger-wrapper.top-0.right-0.mt2.mr2.md-m4.absolute
          .hamburger
            .line
            .line
            .line

    nav#main-nav.absolute.absolute.top-0.right-0.z1.pt4.p4.lg-p2
      ul.list-reset
        li.mb1 gangsteryoga.no
        li.mb1 om
        li.mb1 lærere
        li.mb1 fengsler
        li.mb1 kontakt

    section.content.clearfix.sm-px0.md-px2.mb3.lg-px4

      .clearfix.lg-mxn3

        .col.col-12.md-col-3.mb2.z1.sm-hide.xs-hide
          .clearfix
            .col.col-12.photo.md-mb2(style="background-image: url(/images/webgangster-filter-lys.png)")
            
        .col.col-12.md-hide.lg-hide
          .clearfix
            .col.col-12.px2.py1.sm-punchline.mb3
              p Gangster Yoga setter søkelys på det å være menneske og hvordan man får kontakt med det innerste i seg selv. Det handler om å være tøff nok til å møte seg selv. Puste seg gjennom utfordringer. Kjenne på stivheter og ubehag, og gradvis bygge opp en større klarhet i sinnet som blir vedvarende og stabil.
            
        .col.col-12.px3.md-px0.md-col-9
          .clearfix
            .col.col-12.md-col-6.text.md-pl3.mb3.md-mb0.md-pr3
              .text-block.p3.center
                p.h2.lg-h1 “Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his.”  
            a.col.col-12.md-col-6.link.center.mb3(href="/vaartarbeid",)
              .image( style="background-image: url(/images/vårtarbeid.png)")
                span.text Vårt Arbeid
          .clearfix.md-pl3.xs-hide.sm-hide
            .col.col-12.photo.overflow-down.pt2(style="background-image: url(/images/webgangster_bw.png)")

        .col.col-12.pull-up-3
          a.col.col-12.md-col-4.link.outlined-r.center.px3.md-p0(href="/yogasommetode")
            .image(style="background-image: url(/images/yogasommetode.png)")
                span.text Yoga som metode
          .col.col-7
        
        .col.col-12.mb0.md-mb3.relative.z2
          .clearfix
            .col.col-12.md-col-4.mt3.md-mt2
              .col-col-12.text.vertical.md-pr4.mb3.px3.md-p0.xs-hide.sm-hide
                .text-block.p3.center
                  p.h2.lg-h1 “Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his.”
              a.col.col-12.link.outlined-r.center.px3.md-p0(href="/fengsler")
                .image(style="background-image: url(/images/yogasommetode.png)")
                    span.text Fenglser

            .col.col-12.md-col-4.xs-hide.sm-hide &nbsp;

            .col.col-12.md-col-4
              a.col.col-12.link.outlined-l.center.md-mt3.mb0.md-mb3.p3.md-p0(href="/instruktoerer")
                .image(style="background-image: url(/images/instruktører.png)")
                  span.text Instruktører
              .col.col-12.pl3.pr3.lg-pr0.lg-pl4.text.vertical
                .text-block.p3.center
                  p.h2.lg-h1 “Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his.”
          
        .col.col-12.pull-up-6.z1.xs-hide.sm-hide
          .clearfix
            .col.col-3 &nbsp;
            .col.col-6.photo.md-mb2.px2
              .clearfix
                .col.col-0.lg-col-1 &nbsp;
                .col.col-11.lg-col-10.photo.large-photo.md-mb2(style="background-image: url(/images/webgangster_27_bw.png)")
            .col.col-3 &nbsp;
           

  .content-container.vaartarbeid
    .content.lg-py4
      .clearfix.mx-auto.center.max-width-3.p2.sm-px3.lg-py4 
        h1.mb3 
          a.back.absolute.left.pr2.text-decoration-none(href="/") ← 
          | Vårt arbeid
        h4.mb3 Yoga for dem som tørr å møte seg selv.
        p Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his.
        p Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his.
  
  .content-container.yogasommetode
    .content.lg-py4
      .clearfix.mx-auto.center.max-width-3.p2.sm-px3.lg-py4 
        h1.mb3 
          a.back.absolute.left.pr2.text-decoration-none(href="/") ← 
          | Yoga som metode
        h4.mb3 Yoga for dem som tørr å møte seg selv.
        p Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his.
        p Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his
  
   .content-container.instruktoerer
    .content.lg-py4
      .clearfix.mx-auto.center.max-width-3.p2.sm-px3.lg-py4 
        h1.mb3 
          a.back.absolute.left.pr2.text-decoration-none(href="/") ← 
          | Instruktører
        h4.mb3 Yoga for dem som tørr å møte seg selv.
        p Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his.
        p Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his.
  
  .content-container.fengsler
    .content.lg-py4
      .clearfix.mx-auto.center.max-width-3.p2.sm-px3.lg-py4 
        h1.mb3 
          a.back.absolute.left.pr2.text-decoration-none(href="/") ← 
          | Fengsler
        h4.mb3 Yoga for dem som tørr å møte seg selv.
        p Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his.
        p Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his.
  
                



      