extends ../layouts/default
include ../mixins/vscript


block js
  +vscript('front-page')


block content

  include ./subpages/fengsler
  include ./subpages/instruktoerer
  include ./subpages/vaartarbeid
  include ./subpages/yogasommetode


  #front-page.relative


    header#main-header
      .logo.mx-auto.my3
    

    section#content.clearfix.max-width-4.mx-auto

      section#hero.max-width-4.mx-auto.mb4

      section.wide-text.my4.clearfix.py3
        .col.col-3 &nbsp;
        .col.col-6.px3.center Gangster Yoga setter søkelys på det å være menneske og hvordan man får kontakt med det innerste i seg selv.
        .col.col-3 &nbsp;

    
           

  
                



      