extends ../layouts/landingpage

block content

  .container#landingpage-container.text-center
    .row
      .col-md-12
        h1.brand
          a(href="/") GANGSTERYOGA
      .col-md-12
        p Gangsteryoga i Norge ble startet i 2011 av Bente Aabel, Frank W. Olsen, Erik Sand og Alexander Medin. Bente og Frank jobber til daglig som fritidsledere ved Ringerike Fengsel og har jobbet med innsatte i flere ti책r. De er opptatt av 책 tilrettelegge konstruktive muligheter for de innsatte som fremmer deres utsikter til et rikere liv p책 utenfor murene. Alexander Medin og Erik Sand er gamle breakdansere, barndomsvenner med stor interesse for livskvalitet og hvordan man bedre tar vare p책 hverandre som mennesker.
      .col-md-12
        a(href="/")
          div.btn.btn-default.btn-lg les mer
    
  
