extends ../layouts/subpage
include ../mixins/vscript


block js

block content

  #sub-page.relative


    header#main-header.relative.fit.p3.mb2.md-mb3(style="background-image: url(/images/webgangster_14.jpg);")

      .logo.relative.left.z2

      nav#menu.relative.right.right-align.z2
        ul.list-reset
          li.mb1
            a(href="/om") Om oss
          li.mb1
            a(href="/") Instruktører
          li.mb1
            a(href="/") Fengsler
          li.mb1
            a(href="/") Kontakt


    section#content.clearfix.fit
