extends ../layouts/subpage
include ../mixins/vscript


block js

block content

  #vaartarbeid.relative.px2.lg-px4
    section#content.clearfix.fit.lg-px2
      
      .clearfix
        
        .col.col-12.lg-pr2

          h1.h1.main-heading Vårt arbeid
