extends ../layouts/subpage
include ../mixins/vscript


block js

block content

  #vaartarbeid.relative.px2.lg-px4
    section#content.clearfix.fit.lg-px2
      
      .clearfix
        
        .col.col-12.md-col-8.lg-pr2

          h1.h1.main-heading Vårt arbeid

          .block.mb3
            h3 Yoga som behandlingsform
            .content
              p En god yogapraksis setter søkelys på det å være menneske og forsøker å vekke den optimale fysiske og psykiske livskvalitet. Det handler om å møte seg selv, kjenne sine utfordringer og begrensninger. Gradvis lære seg bygge opp positive handlingsmønstre og se seg selv i en større sammenheng.
              blockquote 
                | - Yoga på sitt beste lærer oss å finne harmoni og tilfredshet i oss selv. Gjennom det blir man også mer bevisst på å behandle andre bra, og man får mer empati.
                small 
                  a(href="http://www.aftenposten.no/100Sport/sprek/Gangsteryoga-skal-hjelpe-de-innsatte-ut-av-kriminaliteten-816834_1.snd#&gid=1&pid=1") &rarr;
              img(src="/images/webgangster_32 copy.jpg").fit.mb1
              p Praksisen bygger primært på fysiske øvelser der man blir bevist om underliggende spenninger i kropp og sin. Etter som kroppen blir sterkere og fri fra ubalanser, vil det mentale aspektet av yoga gjøre seg gjeldende. Dette gir økt fokus, konsentrasjon og større tilstedeværelse. Yoga bygger også på etiske og moralske prinsipper der man lærer seg ta ansvar for seg selv, sine handlinger og sitt nærmiljø.
              p Yoga er først og fremst en prosess der man møter seg selv. Hvor man lærer seg å eksistere uten å flykte eller la seg distrahere. En øket tilstedeværelse gir grobunn for større innsikt innad og utad og man lærer seg finne en harmoni med seg selv og andre.
              p De siste årene har det kommet fram mye vitenskapelige dokumentasjon over de positive virkninger som yoga gir. Forskjellige former for yoga er nå en akseptert treningsform i samfunnet og blir i en stadig større grad integrert som behandlingsform innen helsevesenet, ulike institusjoner, barnevernet og psykiatrien. I USA og England har man under flere år fått positive resultater i behandling av traumer for soldater, innsatte i fengsler, atferdsproblemer blant barn og unge.  I Sverige har yoga blitt en akseptert behandlingsform innen helsevesenet både i forebyggende arbeid og rehabilitering.
              p Yoga er definitivt ikke den eneste løsningen på utfordringer innen helsevesenet, kriminalitet, rus og psykiske lidelser, men større selvbevissthet og økt selvdisiplin, kan hjelpe mennesker til å få en dypere innsikt i sine adferdsmønstre. Det kan være behjelpelig på mange plan. Ikke
              
          
          .block.mb3
            h3 Målsetning
            .content
              p Det overordnede målet med Gangsteryoga er å forbedre menneskers liv og vekke en glede i sinnet som er ekte. Av erfaring ser vi at de mest fundamentale endringer i menneskers liv kommer gjennom selvinnsikt. Vi ser at yoga kan være et verdifullt verktøy i denne prosessen. Over tid ønsker vi å kunne nå ut til flere fengsler i Norge og tilrettelegge for at de som ønsker å fordype seg i yoga skal få muligheten til det. På Ila og Ullersmo ser vi at mange av de innsatte ønsker å utdanne seg som yoga lærere. Vi ønsker å kunne integrere disse i et nettverk av lærere som jobber med ungdommer på skråplanet. Etter endt soning ønsker vi å være behjelpelig med jobb og videre utdannelse. 

          .block.mb3  
            h3 Resultater i fengslene
            .content
            p På Ila, Ringerike og i Oslo har vi allerede sett de positive effektene av yoga over tid. Mange innsatte har blitt gode rollemodeller for andre da de har fått en mer avslappet framtoning og er mindre aggressive og rastløse. Vi ønsker å kunne etablere et nettverk av tidligere innsatte som etter løslatelse får muligheten til å undervise yoga på ungdomsinstitusjoner og være med i forebyggende tiltak blant unge som eksperimenterer med rus, befinner seg på skråplanet eller står i faren for å få en kriminell løpebane.
            p Den største overføringsverdien i denne prosjektet ligger i at innsatte får muligheten til å bruke soningstiden på en konstruktiv måte. Yoga undervisningen tvinger de til å møte seg selv, slippe spenninger i kropp og sinn, rydde opp i forstyrrende mønstre, forbedre sine holdninger og bli en bedre utgave av seg selv den dagen de løslates for å kunne bli bedre samfunnsborgere.
            p I oppstartsfasen av dette prosjektet møtte vi stor skepsis hos mange av de innsatte. Men nå ser vi at mange av de som har blitt introdusert til yoga liker ”treningsformen” meget godt. De ønsker seg et utvidet tilbud og det vokser i etterspørsel. Erfaringsmessig ser vi også at noen faller fra, eller overhodet ikke er interessert i å prøve. Men for de som gir Yoga en sjanse, og jobber med det over tid – ser vi ofte en markant holdningsendring, forbedret fysisk og psykisk velvære, og genuint ønske om å gjøre konstruktivt med livet. Dette tror vi kan ha en positiv påvirkning på den negative statistikken som tilsier at majoriteten av de som løslates vil falle tilbake til kriminelle handlinger.
            p Yoga handler til syvende og sist om å møte seg selv, finne sin plass i livet, samfunnet og unngå negative handlingsmønstre som er til skade for en selv og andre. 

          
          .block.mb3
            h3 
              | Karmayoga
              br 
              | - hjelp de innsatte å gi tilbake til samfunnet!
            
            p Trenger du hjelp til for eksempel å rive en gammel låve, rydde skog eller bære noe tungt? Kontakt oss for spørsmål om arbeid for tidligere innsatte som ønsker å gi noe tilbake til samfunnet.
        
        .col.col-12.md-col-4.pl4.xs-hide.sm-hide.md-hide

          .quote.pl2.mb3.pb2
            .logo
            span “Yoga gir meg større tillitt til livet, når jeg gjør det.”
            br
            br
            span - Carl
          
          .quote.pl2.mb3.pb2
            .logo
            span  “Jeg har aldri angret over å ha gått på en yoga klasse, men ofte angrer jeg når jeg ikke har gått. Yoga gir meg klarhet i sinnet og hjelper meg slippe unødvendig grums. Det har gitt meg et nytt perspektiv på hvem jeg er og er den beste form for ”terapi” jeg har opplevd her inne. Mitt Ego henger seg lett opp i fortid og framtid. Yoga hjelper meg å oppleve en nåtid, der jeg kjenner meg fri og lykkelig. Det er en eksistensiell opplevelse av noe større enn meg selv.”
            br 
            br
            span - Stian
          
          .image.pl2.mb3
            img(src="/images/webgangster-24-s@2x.png")
          
          .quote.pl2.mb3.pb2
            .logo
            span “Yoga gir meg bedre balanse på alle plan. Det styrker meg fysisk, gir klarhet i sinnet og gjør at jeg kjenner en mental ro.”
            br
            br
            span - Tommy
          
          .quote.pl2.mb3.pb2
            .logo
            span “Yoga gir meg fred i sjelen. Siden jeg begynte med yoga har jeg funnet mye større ro. Jeg lar meg ikke lengre forstyrre av bagateller. Jeg trener yoga fem ganger i uken og det gir meg styrke, fred og selvinnsikt. Jeg er på en reise der jeg oppdager meg selv helt enkelt. Kan vel si jeg begynner å finne meg sjøl.“
            br
            br
            span - Albin
            
              



