extends ../layouts/subpage
include ../mixins/vscript


block js

block content

  #vaartarbeid.relative.px2.lg-px4
    section#content.clearfix.fit.lg-px2
      
      .clearfix
        
        .col.col-12.md-col-8.lg-pr2

          h1.h1.main-heading Vårt arbeid

          .block.mb3
            h3 Yoga som behandlingsform
          
          .block.mb3
            h3 Målsetning

          .block.mb3  
            h3 Resultater i fengslene
          
          .block.mb3
            h3 
              | Karmayoga
              br 
              | - hjelp de innsatte å gi tilbake til samfunnet!
            
            p Trenger du hjelp til for eksempel å rive en gammel låve, rydde skog eller bære noe tungt? Kontakt oss for spørsmål om arbeid for tidligere innsatte som ønsker å gi noe tilbake til samfunnet.
        
        .col.col-12.md-col-4.pl4.xs-hide.sm-hide.md-hide

          .quote.pl2.mb3.pb2
            .logo
            span “Yoga gir meg større tillitt til livet, når jeg gjør det.”
            br
            br
            span Karl Opsahl
          
          .quote.pl2.mb3.pb2
            .logo
            span  “Jeg har aldri angret over å ha gått på en yoga klasse, men ofte angrer jeg når jeg ikke har gått. Yoga gir meg klarhet i sinnet og hjelper meg slippe unødvendig grums. Det har gitt meg et nytt perspektiv på hvem jeg er og er den beste form for ”terapi” jeg har opplevd her inne. Mitt Ego henger seg lett opp i fortid og framtid. Yoga hjelper meg å oppleve en nåtid, der jeg kjenner meg fri og lykkelig. Det er en eksistensiell opplevelse av noe større enn meg selv.”
            br 
            br
            span Stian Lund
          
          .quote.pl2.mb3.pb2
            .logo
            span “Yoga gir meg bedre balanse på alle plan. Det styrker meg fysisk, gir klarhet i sinnet og gjør at jeg kjenner en mental ro.”
            br
            br
            span Tommy Tangen
          
          .quote.pl2.mb3.pb2
            .logo
            span “Yoga gir meg fred i sjelen. Siden jeg begynte med yoga har jeg funnet mye større ro. Jeg lar meg ikke lengre forstyrre av bagateller. Jeg trener yoga fem ganger i uken og det gir meg styrke, fred og selvinnsikt. Jeg er på en reise der jeg oppdager meg selv helt enkelt. Kan vel si jeg begynner å finne meg sjøl.“
            br
            br
            span Albin Bendu
            
              



