extends ../layouts/default

block content
  
  div.container-fluid
    
    div.row
      div.col-sm-6.col-md-6.blackout
        h1 Yoga
        
        p Yoga er vanskelig å forklare med ord. Det er snarere noe man opplever når forholdene ligger til rette. Når man opplever harmoni, fred og velvære med seg selv. Tradisjonelt betyr det å være i balanse med seg selv eller å ta seg sammen og kunne yte sitt beste i vanskelige oppgaver og situasjoner man står ovenfor.
        
        p 
         img(src="/images/shavasanahorizon.jpg" width="100%").visible-xs
      
        blockquote
          p De beskriver undervisningen som effektfull ifh. til at de får smidigere kropp, økt helhetlig fokus på helse og samhandling mellom kropp og sinn. Bedre bearbeidelse av psykiske problemer og negative tanker som har hatt sin virkning på det fysiske legeme.
          footer Tor Bråthen (fritidsleder Bastøy Fengsel)
        
        p En utøvende praksis av yoga begynner for de fleste med den fysiske kroppen. Først lærer man seg puste litt bedre, slappe av og gradvis oppleve en indre ro. Hva som står i veien for dette er ofte våre egne underliggende spenninger, frustrasjoner og traumer. Yoga gir innsikt om hvordan ens kropp og sinn fungerer og en jevnlig praksis vil hjelpe utøveren til å møte fastlåste mønstre og gradvis bygge opp positive mønstre som fremmer et friskere liv og gir større klarhet i sinnet.
        
      
        
        p Yoga er ingen ”quick-fix”, flukt eller drøm om høyere meditative tilstander. Det handler om å se seg selv der man er. Her og nå. Få perspektiv på tilværelsen og innse at vi alle er et produkt av vår fortid, men kan endre på vår framtid ved å bygge opp positive mønstre og unngå negative mønstre.
    
        p Den klassiske definisjonen gitt av Patanjali er ”Yoga er tøylingen av sinnets flyktige mønstre”. Når vi virkelig lykkes med det og kan blir fri fra alle sinnslidelser og motsetninger vi er påvirkelige av hviler vi naturlig i et dypere tilstand av yoga. Å kunne være totalt sentrert, oppleve likevekt i sinnet, i motgang så vel som medgang, og ikke formes av de ytre momenter, men snarere hvile i sitt eget naturlige tilstand av frid, det er yogaens store mål og hensikt. Opplevelsen av yoga er derfor ikke bare noe som skjer på en yoga matte eller i en treningssal, men snarere noe man tar til seg i hverdagen for et rikere og verdigere liv.
    
      div.col-sm-6.col-md-4.hidden-xs
        img(src="/images/shavasana.jpg" width="100%")
