
mixin footer()
  #footer
    section.info.p1.lg-p3.clearfix.relative
      .content-wrapper.center
        .background-logo.z1
        h4 gangsteryoga.no
        h4 Tel. 90978888
        h4 
          a(href="/kontakt") Kontakt oss

    section.copyright.center.py2.lg-py4 
      a(href="mailto:post@kantalope.no")
        | ©Kantalope 2016
        br
        small Agathe Magnussen Wathne & Jørn Andre Tangen