#footer
  section.info.p1.lg-p4.py2.clearfix.relative

    .background-logo.z1

    .clearfix.content.relative.z2

      .col.md-col-3.md-pr1.sm-mb2
        h5.mb3 Kontakt
        p.clearfix
          | Adresse her…
          br
          br
          | R. Alexander Medin (styreleder og instruktør)
          | Bente Aabel (styremedlem og instruktør)
          br 
          br
          | For mer informasjon om klasser, se ram@puroyoga.no

      .col.md-col-3.md-px1.sm-mb2
        h5.mb3 Fenglser
        .clearfix
          ul.list-reset.m0
            li Ila Fengsel
            li Oslo Fengsel
            li Ullersmo Fengsel
            li Bredtveit Fengsel
            li Ringerike Fengsel
            li Stavanger Fengsel
            li Kristiansand Fengsel

      .col.md-col-3.md-px1.sm-mb2
        .clearfix
          .col.col-12
            h5.mb3 Instruktører
          .col.col-6.pr2 
            ul.list-reset.m0
              li R. Alexander Medin 
              li Bente Aabel
              li Anniken Binz
              li Astrid Holte Østbye
              li Atle Thomasen
              li Cecilie Kjølleberg
              li Johanna Gjestland
              li Hanne Kjersem Engebraaten
          .col.col-6
            ul.list-reset.m0
              li Kajsa Josefina Finnström
              li Kari Skotens Vikjord
              li Karin Krogh
              li Målfrid Sand
              li Sofia Breig
              li Tina Ørbeck-Nilssen
              li Trine Tschudi

      .col.md-col-3.md-pl1
        .clearfix
          .col.col-12
            h5.mb3 Instruktører
            p.clearfix Har du kommentarer og/eller tilbakemeldinger på innhold, bilder o.l., send oss en melding…

  section.copyright.center.py2.lg-py4 ©Kantalope 2016