
mixin menu()
  nav#menu.relative.right.right-align.z2
    ul.list-reset.my0
      li.mb1
        a(href="/om") Om oss
      li.mb1
        a(href="/vaartarbeid") Vårt arbeid
      li.mb1
        a(href="/fengsler") Fengsler
      li.mb1
        a(href="/instruktoerer") Instruktører
      li
        a(href="/kontakt") Kontakt