
mixin menu()
  nav#menu.relative.right.right-align.z2
    ul.list-reset.my0
      li.mb1
        a(href="/om") Om oss
      li.mb1
        a(href="/") Instruktører
      li.mb1
        a(href="/") Fengsler
      li.mb1
        a(href="/") Kontakt
      li
        a(href="/") Kontakt