
mixin ogtags()
  meta(property="og:title", content="Gangsteryoga - for en litt bedre hverdag")
  meta(property="og:description", content="Gangsteryoga i Norge er en idéell virksomhet som er underordnet stiftelsen «Yoga for Livet». Vårt langsiktige mål er å tilby forebyggende tiltak for ungdom på skråplanet og å gi tidligere innsatte muligheten til å bidra i prosessen. Gangsteryoga setter søkelys på det å være menneske og hvordan man får kontakt med det innerste i seg selv. Puste seg gjennom utfordringer. Kjenne på stivheter og ubehag, og gradvis bygge opp en større klarhet i sinnet som blir vedvarende og stabil.")
  meta(property="og:image", content="www.gangsteryoga.no/images/fb_gy_index.jpg")