include ../mixins/flash-messages
include ../mixins/vscript
include ../mixins/vstyle

doctype html
html.full

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || 'gangsteryoga'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		//- Customise the stylesheet for your site by editing /public/styles/site.less
		//- All .less files will be automatically compiled and minified in production.
		+vstyle("main")

		//- This file provides the default styling for the KeystoneJS Content Editor
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8
		//-[if lt IE 9]
			script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
			script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
		//-[endif]

		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body.px4

		#root.px4
			block content

		#footer
			section.info.px4.py3.clearfix.relative.p4

				.background-logo.z1

				.clearfix.content.relative.z2

					.col.md-col-3.md-pr1.sm-mb2
						h5.mb3 Kontakt
						p.clearfix
							| Adresse her…
							br
							br
							| R. Alexander Medin (styreleder og instruktør)
							| Bente Aabel (styremedlem og instruktør)
							br 
							br
							| For mer informasjon om klasser, se ram@puroyoga.no

					.col.md-col-3.md-px1.sm-mb2
						h5.mb3 Fenglser
						.clearfix
							ul.list-reset.m0
								li Ila Fengsel
								li Oslo Fengsel
								li Ullersmo Fengsel
								li Bredtveit Fengsel
								li Ringerike Fengsel
								li Stavanger Fengsel
								li Kristiansand Fengsel

					.col.md-col-3.md-px1.sm-mb2
						.clearfix
							.col.col-12
								h5.mb3 Instruktører
							.col.col-6.pr2 
								ul.list-reset.m0
									li R. Alexander Medin 
									li Bente Aabel
									li Anniken Binz
									li Astrid Holte Østbye
									li Atle Thomasen
									li Cecilie Kjølleberg
									li Johanna Gjestland
									li Hanne Kjersem Engebraaten
							.col.col-6
								ul.list-reset.m0
									li Kajsa Josefina Finnström
									li Kari Skotens Vikjord
									li Karin Krogh
									li Målfrid Sand
									li Sofia Breig
									li Tina Ørbeck-Nilssen
									li Trine Tschudi

					.col.md-col-3.md-pl1
						.clearfix
							.col.col-12
								h5.mb3 Instruktører
								p.clearfix Har du kommentarer og/eller tilbakemeldinger på innhold, bilder o.l., send oss en melding…

			section.copyright.center.py4 ©Kantalope 2016




		
		//- The KeystoneJS Content Editor provides support for ks-editable data attributes,
		//- which generate links to edit content for users who can access Keystone
		//- if user && user.canAccessKeystone
		//- 	script(src='/keystone/js/content/editor.js')
		
		script(src="//code.jquery.com/jquery-2.2.0.min.js")
		+vscript("menu")
		block js
