include ../mixins/flash-messages
include ../mixins/vscript
include ../mixins/vstyle
include ../mixins/menu
include ../mixins/footer

doctype html
html.full

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || 'gangsteryoga'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		//- Customise the stylesheet for your site by editing /public/styles/site.less
		//- All .less files will be automatically compiled and minified in production.
		+vstyle("main")

		//- This file provides the default styling for the KeystoneJS Content Editor
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8
		//-[if lt IE 9]
			script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
			script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
		//-[endif]

		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body

		#root
			#front-page.relative


				header#main-header.relative.fit.p2.mb2.md-mb1(style="background-image: url(/images/webgangster_14.jpg);")

					.movie-mode.z1

					.logo-wrapper.relative.left.z2
						a(href="/")
							.logo

					+menu()
					
					#featured.absolute.bottom-0.right-0.mb2.fit.z2(style="bottom: 1em")
						.right.right-align.pr2
							#featured-video.video.mx-auto.xs-hide
								.content.clearfix
									.play-button.fit
										img.mx-auto(src="/gfx/play.svg")
									iframe.hidden(src='https://player.vimeo.com/video/179913310?title=0&byline=0&portrait=0', width='100%', height='100%', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
							h1 How tough are you really?
					
				block content

		+footer()




		
		//- The KeystoneJS Content Editor provides support for ks-editable data attributes,
		//- which generate links to edit content for users who can access Keystone
		//- if user && user.canAccessKeystone
		//- 	script(src='/keystone/js/content/editor.js')
		
		script(src="//code.jquery.com/jquery-2.2.0.min.js")
		+vscript("menu")
		block js
