


*{
  box-sizing:border-box;
}
body{
  font-family:-apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Helvetica Neue',
    Helvetica,
    sans-serif;
  line-height:1.5;
  margin:0;
  color:#111;
  background-color:#fff;
}
img{
  max-width:100%;
  height:auto;
}
svg{
  max-height:100%;
}
a{
  color:#07c;
}
h1, h2, h3,
h4, h5, h6{
  font-weight:600;
  line-height:1.25;
  margin-top:1em;
  margin-bottom:.5em;
}
h1{ font-size:2rem }
h2{ font-size:1.5rem }
h3{ font-size:1.25rem }
h4{ font-size:1rem }
h5{ font-size:.875rem }
h6{ font-size:.75rem }
p, dl, ol, ul, pre, blockquote{
  margin-top:1em;
  margin-bottom:1em;
}
code,
pre,
samp{
  font-family:'Roboto Mono',
    'Source Code Pro',
    Menlo,
    Consolas,
    'Liberation Mono',
    monospace;
}
code, samp{
  font-size:87.5%;
  padding:.125em;
}
pre{
  font-size:87.5%;
  overflow:scroll;
}
blockquote{
  font-size:1.25rem;
  font-style:italic;
  margin-left:0;
}
hr{
  margin-top:1.5em;
  margin-bottom:1.5em;
  border:0;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:#ccc;
}
.h1{ font-size:2rem }
.h2{ font-size:1.5rem }
.h3{ font-size:1.25rem }
.h4{ font-size:1rem }
.h5{ font-size:.875rem }
.h6{ font-size:.75rem }
.font-family-inherit{ font-family:inherit }
.font-size-inherit{ font-size:inherit }
.text-decoration-none{ text-decoration:none }
.bold{ font-weight:bold; font-weight:bold }
.regular{ font-weight:normal }
.italic{ font-style:italic }
.caps{ text-transform:uppercase; letter-spacing:.2em; }
.left-align{ text-align:left }
.center{ text-align:center }
.right-align{ text-align:right }
.justify{ text-align:justify }
.nowrap{ white-space:nowrap }
.break-word{ word-wrap:break-word }
.line-height-1{ line-height:1 }
.line-height-2{ line-height:1.125 }
.line-height-3{ line-height:1.25 }
.line-height-4{ line-height:1.5 }
.list-style-none{ list-style:none }
.underline{ text-decoration:underline }
.truncate{
  max-width:100%;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.list-reset{
  list-style:none;
  padding-left:0;
}
.inline{ display:inline }
.block{ display:block }
.inline-block{ display:inline-block }
.table{ display:table }
.table-cell{ display:table-cell }
.overflow-hidden{ overflow:hidden }
.overflow-scroll{ overflow:scroll }
.overflow-auto{ overflow:auto }
.clearfix:before,
.clearfix:after{
  content:" ";
  display:table
}
.clearfix:after{ clear:both }
.left{ float:left }
.right{ float:right }
.fit{ max-width:100% }
.max-width-1{ max-width:32rem }
.max-width-2{ max-width:48rem }
.max-width-3{ max-width:64rem }
.max-width-4{ max-width:96rem }
.border-box{ box-sizing:border-box }
.align-baseline{ vertical-align:baseline }
.align-top{ vertical-align:top }
.align-middle{ vertical-align:middle }
.align-bottom{ vertical-align:bottom }
.m0{ margin:0 }
.mt0{ margin-top:0 }
.mr0{ margin-right:0 }
.mb0{ margin-bottom:0 }
.ml0{ margin-left:0 }
.mx0{ margin-left:0; margin-right:0 }
.my0{ margin-top:0; margin-bottom:0 }
.m1{ margin:.7rem }
.mt1{ margin-top:.7rem }
.mr1{ margin-right:.7rem }
.mb1{ margin-bottom:.7rem }
.ml1{ margin-left:.7rem }
.mx1{ margin-left:.7rem; margin-right:.7rem }
.my1{ margin-top:.7rem; margin-bottom:.7rem }
.m2{ margin:1.5rem }
.mt2{ margin-top:1.5rem }
.mr2{ margin-right:1.5rem }
.mb2{ margin-bottom:1.5rem }
.ml2{ margin-left:1.5rem }
.mx2{ margin-left:1.5rem; margin-right:1.5rem }
.my2{ margin-top:1.5rem; margin-bottom:1.5rem }
.m3{ margin:3rem }
.mt3{ margin-top:3rem }
.mr3{ margin-right:3rem }
.mb3{ margin-bottom:3rem }
.ml3{ margin-left:3rem }
.mx3{ margin-left:3rem; margin-right:3rem }
.my3{ margin-top:3rem; margin-bottom:3rem }
.m4{ margin:5rem }
.mt4{ margin-top:5rem }
.mr4{ margin-right:5rem }
.mb4{ margin-bottom:5rem }
.ml4{ margin-left:5rem }
.mx4{ margin-left:5rem; margin-right:5rem }
.my4{ margin-top:5rem; margin-bottom:5rem }
.mxn1{ margin-left:-.7rem; margin-right:-.7rem; }
.mxn2{ margin-left:-1.5rem; margin-right:-1.5rem; }
.mxn3{ margin-left:-3rem; margin-right:-3rem; }
.mxn4{ margin-left:-5rem; margin-right:-5rem; }
.ml-auto{ margin-left:auto }
.mr-auto{ margin-right:auto }
.mx-auto{ margin-left:auto; margin-right:auto; }
.p0{ padding:0 }
.pt0{ padding-top:0 }
.pr0{ padding-right:0 }
.pb0{ padding-bottom:0 }
.pl0{ padding-left:0 }
.px0{ padding-left:0; padding-right:0 }
.py0{ padding-top:0;  padding-bottom:0 }
.p1{ padding:.7rem }
.pt1{ padding-top:.7rem }
.pr1{ padding-right:.7rem }
.pb1{ padding-bottom:.7rem }
.pl1{ padding-left:.7rem }
.py1{ padding-top:.7rem; padding-bottom:.7rem }
.px1{ padding-left:.7rem; padding-right:.7rem }
.p2{ padding:1.5rem }
.pt2{ padding-top:1.5rem }
.pr2{ padding-right:1.5rem }
.pb2{ padding-bottom:1.5rem }
.pl2{ padding-left:1.5rem }
.py2{ padding-top:1.5rem; padding-bottom:1.5rem }
.px2{ padding-left:1.5rem; padding-right:1.5rem }
.p3{ padding:3rem }
.pt3{ padding-top:3rem }
.pr3{ padding-right:3rem }
.pb3{ padding-bottom:3rem }
.pl3{ padding-left:3rem }
.py3{ padding-top:3rem; padding-bottom:3rem }
.px3{ padding-left:3rem; padding-right:3rem }
.p4{ padding:5rem }
.pt4{ padding-top:5rem }
.pr4{ padding-right:5rem }
.pb4{ padding-bottom:5rem }
.pl4{ padding-left:5rem }
.py4{ padding-top:5rem; padding-bottom:5rem }
.px4{ padding-left:5rem; padding-right:5rem }
.col{
  float:left;
  box-sizing:border-box;
}
.col-right{
  float:right;
  box-sizing:border-box;
}
.col-1{
  width:8.33333%;
}
.col-2{
  width:16.66667%;
}
.col-3{
  width:25%;
}
.col-4{
  width:33.33333%;
}
.col-5{
  width:41.66667%;
}
.col-6{
  width:50%;
}
.col-7{
  width:58.33333%;
}
.col-8{
  width:66.66667%;
}
.col-9{
  width:75%;
}
.col-10{
  width:83.33333%;
}
.col-11{
  width:91.66667%;
}
.col-12{
  width:100%;
}
@media (min-width: 40em){

  .sm-col{
    float:left;
    box-sizing:border-box;
  }

  .sm-col-right{
    float:right;
    box-sizing:border-box;
  }

  .sm-col-1{
    width:8.33333%;
  }

  .sm-col-2{
    width:16.66667%;
  }

  .sm-col-3{
    width:25%;
  }

  .sm-col-4{
    width:33.33333%;
  }

  .sm-col-5{
    width:41.66667%;
  }

  .sm-col-6{
    width:50%;
  }

  .sm-col-7{
    width:58.33333%;
  }

  .sm-col-8{
    width:66.66667%;
  }

  .sm-col-9{
    width:75%;
  }

  .sm-col-10{
    width:83.33333%;
  }

  .sm-col-11{
    width:91.66667%;
  }

  .sm-col-12{
    width:100%;
  }

}
@media (min-width: 52em){

  .md-col{
    float:left;
    box-sizing:border-box;
  }

  .md-col-right{
    float:right;
    box-sizing:border-box;
  }

  .md-col-1{
    width:8.33333%;
  }

  .md-col-2{
    width:16.66667%;
  }

  .md-col-3{
    width:25%;
  }

  .md-col-4{
    width:33.33333%;
  }

  .md-col-5{
    width:41.66667%;
  }

  .md-col-6{
    width:50%;
  }

  .md-col-7{
    width:58.33333%;
  }

  .md-col-8{
    width:66.66667%;
  }

  .md-col-9{
    width:75%;
  }

  .md-col-10{
    width:83.33333%;
  }

  .md-col-11{
    width:91.66667%;
  }

  .md-col-12{
    width:100%;
  }

}
@media (min-width: 96rem){

  .lg-col{
    float:left;
    box-sizing:border-box;
  }

  .lg-col-right{
    float:right;
    box-sizing:border-box;
  }

  .lg-col-1{
    width:8.33333%;
  }

  .lg-col-2{
    width:16.66667%;
  }

  .lg-col-3{
    width:25%;
  }

  .lg-col-4{
    width:33.33333%;
  }

  .lg-col-5{
    width:41.66667%;
  }

  .lg-col-6{
    width:50%;
  }

  .lg-col-7{
    width:58.33333%;
  }

  .lg-col-8{
    width:66.66667%;
  }

  .lg-col-9{
    width:75%;
  }

  .lg-col-10{
    width:83.33333%;
  }

  .lg-col-11{
    width:91.66667%;
  }

  .lg-col-12{
    width:100%;
  }

}
.flex{ display:-webkit-box; display:-ms-flexbox; display:flex }
@media (min-width: 40em){
  .sm-flex{ display:-webkit-box; display:-ms-flexbox; display:flex }
}
@media (min-width: 52em){
  .md-flex{ display:-webkit-box; display:-ms-flexbox; display:flex }
}
@media (min-width: 96rem){
  .lg-flex{ display:-webkit-box; display:-ms-flexbox; display:flex }
}
.flex-column{ -webkit-box-orient:vertical; -webkit-box-direction:normal; -ms-flex-direction:column; flex-direction:column }
.flex-wrap{ -ms-flex-wrap:wrap; flex-wrap:wrap }
.items-start{ -webkit-box-align:start; -ms-flex-align:start; -ms-grid-row-align:flex-start; align-items:flex-start }
.items-end{ -webkit-box-align:end; -ms-flex-align:end; -ms-grid-row-align:flex-end; align-items:flex-end }
.items-center{ -webkit-box-align:center; -ms-flex-align:center; -ms-grid-row-align:center; align-items:center }
.items-baseline{ -webkit-box-align:baseline; -ms-flex-align:baseline; -ms-grid-row-align:baseline; align-items:baseline }
.items-stretch{ -webkit-box-align:stretch; -ms-flex-align:stretch; -ms-grid-row-align:stretch; align-items:stretch }
.self-start{ -ms-flex-item-align:start; align-self:flex-start }
.self-end{ -ms-flex-item-align:end; align-self:flex-end }
.self-center{ -ms-flex-item-align:center; align-self:center }
.self-baseline{ -ms-flex-item-align:baseline; align-self:baseline }
.self-stretch{ -ms-flex-item-align:stretch; align-self:stretch }
.justify-start{ -webkit-box-pack:start; -ms-flex-pack:start; justify-content:flex-start }
.justify-end{ -webkit-box-pack:end; -ms-flex-pack:end; justify-content:flex-end }
.justify-center{ -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center }
.justify-between{ -webkit-box-pack:justify; -ms-flex-pack:justify; justify-content:space-between }
.justify-around{ -ms-flex-pack:distribute; justify-content:space-around }
.content-start{ -ms-flex-line-pack:start; align-content:flex-start }
.content-end{ -ms-flex-line-pack:end; align-content:flex-end }
.content-center{ -ms-flex-line-pack:center; align-content:center }
.content-between{ -ms-flex-line-pack:justify; align-content:space-between }
.content-around{ -ms-flex-line-pack:distribute; align-content:space-around }
.content-stretch{ -ms-flex-line-pack:stretch; align-content:stretch }
.flex-auto{
  -webkit-box-flex:1;
      -ms-flex:1 1 auto;
          flex:1 1 auto;
  min-width:0;
  min-height:0;
}
.flex-none{ -webkit-box-flex:0; -ms-flex:none; flex:none }
.order-0{ -webkit-box-ordinal-group:1; -ms-flex-order:0; order:0 }
.order-1{ -webkit-box-ordinal-group:2; -ms-flex-order:1; order:1 }
.order-2{ -webkit-box-ordinal-group:3; -ms-flex-order:2; order:2 }
.order-3{ -webkit-box-ordinal-group:4; -ms-flex-order:3; order:3 }
.order-last{ -webkit-box-ordinal-group:100000; -ms-flex-order:99999; order:99999 }
.relative{ position:relative }
.absolute{ position:absolute }
.fixed{ position:fixed }
.top-0{ top:0 }
.right-0{ right:0 }
.bottom-0{ bottom:0 }
.left-0{ left:0 }
.z1{ z-index:1 }
.z2{ z-index:2 }
.z3{ z-index:3 }
.z4{ z-index:4 }
.border{
  border-style:solid;
  border-width:1px;
}
.border-top{
  border-top-style:solid;
  border-top-width:1px;
}
.border-right{
  border-right-style:solid;
  border-right-width:1px;
}
.border-bottom{
  border-bottom-style:solid;
  border-bottom-width:1px;
}
.border-left{
  border-left-style:solid;
  border-left-width:1px;
}
.border-none{ border:0 }
.rounded{ border-radius:3px }
.circle{ border-radius:50% }
.rounded-top{ border-radius:3px 3px 0 0 }
.rounded-right{ border-radius:0 3px 3px 0 }
.rounded-bottom{ border-radius:0 0 3px 3px }
.rounded-left{ border-radius:3px 0 0 3px }
.not-rounded{ border-radius:0 }
.hide{
  position:absolute !important;
  height:1px;
  width:1px;
  overflow:hidden;
  clip:rect(1px, 1px, 1px, 1px);
}
@media (max-width: 40em){
  .xs-hide{ display:none !important }
}
@media (min-width: 40em) and (max-width: 52em){
  .sm-hide{ display:none !important }
}
@media (min-width: 52em) and (max-width: 64em){
  .md-hide{ display:none !important }
}
@media (min-width: 96rem){
  .lg-hide{ display:none !important }
}
.display-none{ display:none !important }
@media (min-width: 40em){

  .sm-m0{ margin:0 }
  .sm-mt0{ margin-top:0 }
  .sm-mr0{ margin-right:0 }
  .sm-mb0{ margin-bottom:0 }
  .sm-ml0{ margin-left:0 }
  .sm-mx0{ margin-left:0; margin-right:0 }
  .sm-my0{ margin-top:0; margin-bottom:0 }

  .sm-m1{ margin:.7rem }
  .sm-mt1{ margin-top:.7rem }
  .sm-mr1{ margin-right:.7rem }
  .sm-mb1{ margin-bottom:.7rem }
  .sm-ml1{ margin-left:.7rem }
  .sm-mx1{ margin-left:.7rem; margin-right:.7rem }
  .sm-my1{ margin-top:.7rem; margin-bottom:.7rem }

  .sm-m2{ margin:1.5rem }
  .sm-mt2{ margin-top:1.5rem }
  .sm-mr2{ margin-right:1.5rem }
  .sm-mb2{ margin-bottom:1.5rem }
  .sm-ml2{ margin-left:1.5rem }
  .sm-mx2{ margin-left:1.5rem; margin-right:1.5rem }
  .sm-my2{ margin-top:1.5rem; margin-bottom:1.5rem }

  .sm-m3{ margin:3rem }
  .sm-mt3{ margin-top:3rem }
  .sm-mr3{ margin-right:3rem }
  .sm-mb3{ margin-bottom:3rem }
  .sm-ml3{ margin-left:3rem }
  .sm-mx3{ margin-left:3rem; margin-right:3rem }
  .sm-my3{ margin-top:3rem; margin-bottom:3rem }

  .sm-m4{ margin:5rem }
  .sm-mt4{ margin-top:5rem }
  .sm-mr4{ margin-right:5rem }
  .sm-mb4{ margin-bottom:5rem }
  .sm-ml4{ margin-left:5rem }
  .sm-mx4{ margin-left:5rem; margin-right:5rem }
  .sm-my4{ margin-top:5rem; margin-bottom:5rem }

  .sm-mxn1{ margin-left:-.7rem; margin-right:-.7rem }
  .sm-mxn2{ margin-left:-1.5rem; margin-right:-1.5rem }
  .sm-mxn3{ margin-left:-3rem; margin-right:-3rem }
  .sm-mxn4{ margin-left:-5rem; margin-right:-5rem }

  .sm-ml-auto{ margin-left:auto }
  .sm-mr-auto{ margin-right:auto }
  .sm-mx-auto{ margin-left:auto; margin-right:auto }

}
@media (min-width: 52em){

  .md-m0{ margin:0 }
  .md-mt0{ margin-top:0 }
  .md-mr0{ margin-right:0 }
  .md-mb0{ margin-bottom:0 }
  .md-ml0{ margin-left:0 }
  .md-mx0{ margin-left:0; margin-right:0 }
  .md-my0{ margin-top:0; margin-bottom:0 }

  .md-m1{ margin:.7rem }
  .md-mt1{ margin-top:.7rem }
  .md-mr1{ margin-right:.7rem }
  .md-mb1{ margin-bottom:.7rem }
  .md-ml1{ margin-left:.7rem }
  .md-mx1{ margin-left:.7rem; margin-right:.7rem }
  .md-my1{ margin-top:.7rem; margin-bottom:.7rem }

  .md-m2{ margin:1.5rem }
  .md-mt2{ margin-top:1.5rem }
  .md-mr2{ margin-right:1.5rem }
  .md-mb2{ margin-bottom:1.5rem }
  .md-ml2{ margin-left:1.5rem }
  .md-mx2{ margin-left:1.5rem; margin-right:1.5rem }
  .md-my2{ margin-top:1.5rem; margin-bottom:1.5rem }

  .md-m3{ margin:3rem }
  .md-mt3{ margin-top:3rem }
  .md-mr3{ margin-right:3rem }
  .md-mb3{ margin-bottom:3rem }
  .md-ml3{ margin-left:3rem }
  .md-mx3{ margin-left:3rem; margin-right:3rem }
  .md-my3{ margin-top:3rem; margin-bottom:3rem }

  .md-m4{ margin:5rem }
  .md-mt4{ margin-top:5rem }
  .md-mr4{ margin-right:5rem }
  .md-mb4{ margin-bottom:5rem }
  .md-ml4{ margin-left:5rem }
  .md-mx4{ margin-left:5rem; margin-right:5rem }
  .md-my4{ margin-top:5rem; margin-bottom:5rem }

  .md-mxn1{ margin-left:-.7rem; margin-right:-.7rem; }
  .md-mxn2{ margin-left:-1.5rem; margin-right:-1.5rem; }
  .md-mxn3{ margin-left:-3rem; margin-right:-3rem; }
  .md-mxn4{ margin-left:-5rem; margin-right:-5rem; }

  .md-ml-auto{ margin-left:auto }
  .md-mr-auto{ margin-right:auto }
  .md-mx-auto{ margin-left:auto; margin-right:auto; }

}
@media (min-width: 96rem){

  .lg-m0{ margin:0 }
  .lg-mt0{ margin-top:0 }
  .lg-mr0{ margin-right:0 }
  .lg-mb0{ margin-bottom:0 }
  .lg-ml0{ margin-left:0 }
  .lg-mx0{ margin-left:0; margin-right:0 }
  .lg-my0{ margin-top:0; margin-bottom:0 }

  .lg-m1{ margin:.7rem }
  .lg-mt1{ margin-top:.7rem }
  .lg-mr1{ margin-right:.7rem }
  .lg-mb1{ margin-bottom:.7rem }
  .lg-ml1{ margin-left:.7rem }
  .lg-mx1{ margin-left:.7rem; margin-right:.7rem }
  .lg-my1{ margin-top:.7rem; margin-bottom:.7rem }

  .lg-m2{ margin:1.5rem }
  .lg-mt2{ margin-top:1.5rem }
  .lg-mr2{ margin-right:1.5rem }
  .lg-mb2{ margin-bottom:1.5rem }
  .lg-ml2{ margin-left:1.5rem }
  .lg-mx2{ margin-left:1.5rem; margin-right:1.5rem }
  .lg-my2{ margin-top:1.5rem; margin-bottom:1.5rem }

  .lg-m3{ margin:3rem }
  .lg-mt3{ margin-top:3rem }
  .lg-mr3{ margin-right:3rem }
  .lg-mb3{ margin-bottom:3rem }
  .lg-ml3{ margin-left:3rem }
  .lg-mx3{ margin-left:3rem; margin-right:3rem }
  .lg-my3{ margin-top:3rem; margin-bottom:3rem }

  .lg-m4{ margin:5rem }
  .lg-mt4{ margin-top:5rem }
  .lg-mr4{ margin-right:5rem }
  .lg-mb4{ margin-bottom:5rem }
  .lg-ml4{ margin-left:5rem }
  .lg-mx4{ margin-left:5rem; margin-right:5rem }
  .lg-my4{ margin-top:5rem; margin-bottom:5rem }

  .lg-mxn1{ margin-left:-.7rem; margin-right:-.7rem; }
  .lg-mxn2{ margin-left:-1.5rem; margin-right:-1.5rem; }
  .lg-mxn3{ margin-left:-3rem; margin-right:-3rem; }
  .lg-mxn4{ margin-left:-5rem; margin-right:-5rem; }

  .lg-ml-auto{ margin-left:auto }
  .lg-mr-auto{ margin-right:auto }
  .lg-mx-auto{ margin-left:auto; margin-right:auto; }

}
@media (min-width: 40em){

  .sm-p0{ padding:0 }
  .sm-pt0{ padding-top:0 }
  .sm-pr0{ padding-right:0 }
  .sm-pb0{ padding-bottom:0 }
  .sm-pl0{ padding-left:0 }
  .sm-px0{ padding-left:0; padding-right:0 }
  .sm-py0{ padding-top:0; padding-bottom:0 }

  .sm-p1{ padding:.7rem }
  .sm-pt1{ padding-top:.7rem }
  .sm-pr1{ padding-right:.7rem }
  .sm-pb1{ padding-bottom:.7rem }
  .sm-pl1{ padding-left:.7rem }
  .sm-px1{ padding-left:.7rem; padding-right:.7rem }
  .sm-py1{ padding-top:.7rem; padding-bottom:.7rem }

  .sm-p2{ padding:1.5rem }
  .sm-pt2{ padding-top:1.5rem }
  .sm-pr2{ padding-right:1.5rem }
  .sm-pb2{ padding-bottom:1.5rem }
  .sm-pl2{ padding-left:1.5rem }
  .sm-px2{ padding-left:1.5rem; padding-right:1.5rem }
  .sm-py2{ padding-top:1.5rem; padding-bottom:1.5rem }

  .sm-p3{ padding:3rem }
  .sm-pt3{ padding-top:3rem }
  .sm-pr3{ padding-right:3rem }
  .sm-pb3{ padding-bottom:3rem }
  .sm-pl3{ padding-left:3rem }
  .sm-px3{ padding-left:3rem; padding-right:3rem }
  .sm-py3{ padding-top:3rem; padding-bottom:3rem }

  .sm-p4{ padding:5rem }
  .sm-pt4{ padding-top:5rem }
  .sm-pr4{ padding-right:5rem }
  .sm-pb4{ padding-bottom:5rem }
  .sm-pl4{ padding-left:5rem }
  .sm-px4{ padding-left:5rem; padding-right:5rem }
  .sm-py4{ padding-top:5rem; padding-bottom:5rem }

}
@media (min-width: 52em){

  .md-p0{ padding:0 }
  .md-pt0{ padding-top:0 }
  .md-pr0{ padding-right:0 }
  .md-pb0{ padding-bottom:0 }
  .md-pl0{ padding-left:0 }
  .md-px0{ padding-left:0; padding-right:0 }
  .md-py0{ padding-top:0; padding-bottom:0 }

  .md-p1{ padding:.7rem }
  .md-pt1{ padding-top:.7rem }
  .md-pr1{ padding-right:.7rem }
  .md-pb1{ padding-bottom:.7rem }
  .md-pl1{ padding-left:.7rem }
  .md-px1{ padding-left:.7rem; padding-right:.7rem }
  .md-py1{ padding-top:.7rem; padding-bottom:.7rem }

  .md-p2{ padding:1.5rem }
  .md-pt2{ padding-top:1.5rem }
  .md-pr2{ padding-right:1.5rem }
  .md-pb2{ padding-bottom:1.5rem }
  .md-pl2{ padding-left:1.5rem }
  .md-px2{ padding-left:1.5rem; padding-right:1.5rem }
  .md-py2{ padding-top:1.5rem; padding-bottom:1.5rem }

  .md-p3{ padding:3rem }
  .md-pt3{ padding-top:3rem }
  .md-pr3{ padding-right:3rem }
  .md-pb3{ padding-bottom:3rem }
  .md-pl3{ padding-left:3rem }
  .md-px3{ padding-left:3rem; padding-right:3rem }
  .md-py3{ padding-top:3rem; padding-bottom:3rem }

  .md-p4{ padding:5rem }
  .md-pt4{ padding-top:5rem }
  .md-pr4{ padding-right:5rem }
  .md-pb4{ padding-bottom:5rem }
  .md-pl4{ padding-left:5rem }
  .md-px4{ padding-left:5rem; padding-right:5rem }
  .md-py4{ padding-top:5rem; padding-bottom:5rem }

}
@media (min-width: 96rem){

  .lg-p0{ padding:0 }
  .lg-pt0{ padding-top:0 }
  .lg-pr0{ padding-right:0 }
  .lg-pb0{ padding-bottom:0 }
  .lg-pl0{ padding-left:0 }
  .lg-px0{ padding-left:0; padding-right:0 }
  .lg-py0{ padding-top:0; padding-bottom:0 }

  .lg-p1{ padding:.7rem }
  .lg-pt1{ padding-top:.7rem }
  .lg-pr1{ padding-right:.7rem }
  .lg-pb1{ padding-bottom:.7rem }
  .lg-pl1{ padding-left:.7rem }
  .lg-px1{ padding-left:.7rem; padding-right:.7rem }
  .lg-py1{ padding-top:.7rem; padding-bottom:.7rem }

  .lg-p2{ padding:1.5rem }
  .lg-pt2{ padding-top:1.5rem }
  .lg-pr2{ padding-right:1.5rem }
  .lg-pb2{ padding-bottom:1.5rem }
  .lg-pl2{ padding-left:1.5rem }
  .lg-px2{ padding-left:1.5rem; padding-right:1.5rem }
  .lg-py2{ padding-top:1.5rem; padding-bottom:1.5rem }

  .lg-p3{ padding:3rem }
  .lg-pt3{ padding-top:3rem }
  .lg-pr3{ padding-right:3rem }
  .lg-pb3{ padding-bottom:3rem }
  .lg-pl3{ padding-left:3rem }
  .lg-px3{ padding-left:3rem; padding-right:3rem }
  .lg-py3{ padding-top:3rem; padding-bottom:3rem }

  .lg-p4{ padding:5rem }
  .lg-pt4{ padding-top:5rem }
  .lg-pr4{ padding-right:5rem }
  .lg-pb4{ padding-bottom:5rem }
  .lg-pl4{ padding-left:5rem }
  .lg-px4{ padding-left:5rem; padding-right:5rem }
  .lg-py4{ padding-top:5rem; padding-bottom:5rem }

}
@media (min-width: 40em){

  .sm-inline{ display:inline }
  .sm-block{ display:block }
  .sm-inline-block{ display:inline-block }
  .sm-table{ display:table }
  .sm-table-cell{ display:table-cell }

  .sm-overflow-hidden{ overflow:hidden }
  .sm-overflow-scroll{ overflow:scroll }
  .sm-overflow-auto{ overflow:auto }

  .sm-left{ float:left }
  .sm-right{ float:right }

}
@media (min-width: 52em){

  .md-inline{ display:inline }
  .md-block{ display:block }
  .md-inline-block{ display:inline-block }
  .md-table{ display:table }
  .md-table-cell{ display:table-cell }

  .md-overflow-hidden{ overflow:hidden }
  .md-overflow-scroll{ overflow:scroll }
  .md-overflow-auto{ overflow:auto }

  .md-left{ float:left }
  .md-right{ float:right }

}
@media (min-width: 96rem){

  .lg-inline{ display:inline }
  .lg-block{ display:block }
  .lg-inline-block{ display:inline-block }
  .lg-table{ display:table }
  .lg-table-cell{ display:table-cell }

  .lg-overflow-hidden{ overflow:hidden }
  .lg-overflow-scroll{ overflow:scroll }
  .lg-overflow-auto{ overflow:auto }

  .lg-left{ float:left }
  .lg-right{ float:right }

}
@media (min-width: 40em){
  .sm-relative{ position:relative }
  .sm-absolute{ position:absolute }
  .sm-fixed{ position:fixed }

  .sm-top-0{ top:0 }
  .sm-right-0{ right:0 }
  .sm-bottom-0{ bottom:0 }
  .sm-left-0{ left:0 }
}
@media (min-width: 52em){
  .md-relative{ position:relative }
  .md-absolute{ position:absolute }
  .md-fixed{ position:fixed }

  .md-top-0{ top:0 }
  .md-right-0{ right:0 }
  .md-bottom-0{ bottom:0 }
  .md-left-0{ left:0 }
}
@media (min-width: 96rem){
  .lg-relative{ position:relative }
  .lg-absolute{ position:absolute }
  .lg-fixed{ position:fixed }

  .lg-top-0{ top:0 }
  .lg-right-0{ right:0 }
  .lg-bottom-0{ bottom:0 }
  .lg-left-0{ left:0 }
}
@font-face{
  font-family:'AlteHaasGrotesk';
  src:url('/fonts/AlteHaasGroteskRegular.ttf');
}
@font-face{
  font-family:'AlteHaasGroteskBold';
  src:url('/fonts/AlteHaasGroteskBold.ttf');
}
#front-page #cover{
  background-image:url('/images/cover.png');
  background-size:cover;
  -webkit-transition:margin-top 0.15s ease-out;
  transition:margin-top 0.15s ease-out;
}
@media (min-width: 52em){
  #front-page #cover{
    min-height:60rem;
  }
}
#front-page #cover .logo{
  height:7rem;
  width:7rem;
  background-image:url('/gfx/gy_logo_svart_positiv.png');
  background-size:cover;
  -webkit-transition:all 0.15s ease-out;
  transition:all 0.15s ease-out;
}
#front-page #cover .hamburger-wrapper{
  -webkit-transition:all 0.15s ease-out;
  transition:all 0.15s ease-out;
  padding-top:1.5rem;
}
#front-page #cover .hamburger{
  width:2.5rem;
  height:2.5rem;
}
#front-page #cover .hamburger .line{
  background:rgb(20,20,20);
  width:100%;
  height:15%;
  margin-bottom:25%
}
#front-page .content .text, #front-page .content .link{
  box-sizing:border-box;
  overflow:hidden;
}
@media (min-width: 52em){
  #front-page .content .text, #front-page .content .link{
    height:20rem;
  }
}
#front-page .content .text{
  box-sizing:border-box;
}
@media (min-width: 52em){
  #front-page .content .text.vertical{
    height:40rem;
  }
}
#front-page .content .text .text-block{
  height:100%;
  background-color:white;
  color:#adffd8;
  border:10px solid #adffd8;
  display:table;
}
#front-page .content .text .text-block p{
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}
#front-page .content .link{
  position:relative;
  line-height:20rem;
  background-size:cover;
  font-size:3rem;
  text-decoration:none;
  color:inherit;
}
#front-page .content .link .image{
  display:table;
  z-index:1;
  height:100%;
  width:101%;
  background-size:cover;
}
#front-page .content .link .image .text{
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}
#front-page .content .link.outlined-r{
  box-shadow:0px 0px 0px 15px rgb(255,255,255);
}
#front-page .content .link.outlined-l{
  box-shadow:0px 0px 0px 15px rgb(255,255,255);
}
#front-page .content .photo{
  background-size:cover;
  height:40rem;
}
#front-page .content .photo.overflow-down{
  height:43rem;
}
@media (min-width: 52em){
  #front-page .content .pull-up-3{
    margin-top:-23rem;
  }
}
@media (min-width: 52em){
  #front-page .content .pull-up-6{
    margin-top:-62.1rem;
  }
}
#front-page .content .large-photo{
  height:64rem;
}
#footer section.info{
  color:rgb(247,247,247);
  background-color:rgb(20,20,20);
}
#footer section.info .background-logo{
  position:absolute;
  top:-12%;
  right:1%;
  background-image:url(/gfx/logo_white.svg);
  background-size:cover;
  height:130%;
  width:650px;
  opacity:0.1;
}
#footer section.copyright{}
html, body{
  min-height:100%;
  font-family:"AlteHaasGrotesk";
}

