.subpage.yogasommetode
  .content-container
    .content.lg-py4
      .clearfix.mx-auto.center.max-width-3.p2.sm-px3.lg-py4
        a.h1.back.text-decoration-none.mx-auto.md-hide.lg-hide(href="/") ← 
        h1.mb3 
          a.back.absolute.left.pr2.mln3.text-decoration-none.sm-hide.xs-hide(href="/") ← 
          | Yoga som metode
        h4.mb3 Yoga for dem som tørr å møte seg selv.
        p Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his.
        p Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his. Lorem ipsum dolor sit amet, et vitae forensibus sed, eripuit tincidunt eu his