
button {
  border: 0px solid transparent;
  font-family: "AlteHaasGrotesk";
  font-size: 1em;
  text-decoration: underline;
  padding: 0px;
  margin: 0px;
  background: transparent;
  cursor: pointer;
}