
@defin-mixin over-max-width {
  
}

#front-page {

  #cover {
    background-image: url('/images/cover.png');
    background-size: cover;
    transition: margin-top 0.15s ease-out;

    @media (--breakpoint-md) {
      min-height: 60rem;
    }

    .logo {
      height: 7rem;
      width: 7rem;
      background-image: url('/gfx/gy_logo_svart_positiv.png');
      background-size: cover;
      transition: all 0.15s ease-out;
    }

    .hamburger-wrapper {
      transition: all 0.15s ease-out;
      padding-top: var(--space-2);
    }

    .hamburger {
      width: 2.5rem;
      height: 2.5rem;
    }

    .hamburger .line {
      background: rgb(20,20,20);
      width: 100%;
      height: 15%;
      margin-bottom: 25%
    }

  }

  .content {

    .text, .link {
      height: var(--content-block-height);
    }

    .text {
      box-sizing: border-box;
      .text-block {
        color: var(--light-green);
        border: 10px solid var(--light-green);
      }
    }

    .link {
      line-height: var(--content-block-height);
      background-size: cover;
    }

  }

}




