
body {
  overflow-x: hidden;
}

#front-page {
  overflow-x: hidden;
  opacity: 0.0001;
  transition: opacity 0.137s ease-out;
  width: 100%;
  min-height: 100%;

  header#main-header {

    height: 100vh;
    background-size: cover;

    .logo {
      background-image: url(/gfx/gy_logo_hvit_positiv-01.svg);
      background-size: cover;
      height: 7rem;
      width: 7rem;
    }

    .movie-mode {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      background-color: rgba(0,0,0, 0.73);
      opacity: 0;
      transition: opacity 0.7s ease-in;
      &.active {
        opacity: 1;
      }
    }

    nav#menu {
      text-transform: uppercase;
      font-size: 0.73em;
      ul {
        li {
          a {
            color: rgba(255,255,255, 0.95);
            text-decoration: none;
          }
        }
      }
    }

    #featured {
      text-align: center;
      color: rgb(249,249,249);
      width: 100%;

      .video {
        height: calc((9 * 33))px;
        width: calc((16 * 33))px;
        box-sizing: content-box;
        background: rgba(10,10,10, 0.8);
        transition: background 0.7s ease-in;

        &.playing {
          background: rgba(10,10,10, 0.03);
        }

        .content {
          position: relative;
          
          iframe {
            &.hidden {
              opacity: 0;
            }
            opacity: 1;
            height: calc(9 * 33)px;
            width: calc(16 * 33)px;
          }

          .play-button {          
            background-size: cover;
            height: 50px;
            width: 50px;
            margin: calc((9 * 33) / 2 - 25)px auto;
          }
        }
      }
    }
    

  }


  section#content {

    min-height: 100vh;

    section#articles {

      article {
        
        font-family: 'AlteHaasGroteskBold';

        .image {
          height: 13em;
          overflow: hidden;
          img {
            width: 100%;
            min-width: 100%;
          }
        }

        h1 {
          text-transform: uppercase;
          margin-top: var(--space-1);
          margin-bottom: calc(var(--space-1) / 2);
        }

        p {
          margin-top: 0px;
          margin-bottom: var(--space-1);
          font-size: 0.9em;
        }

      }
    }

    section#hero-text {
      background: rgba(0,0,0, 0.98);
      color: rgba(255,255,255, 0.9);
      line-height: 2.1;
      font-size: 1.1em;
      letter-spacing: 0.03em;
      .col {
        height: 15em;
      }
      .h1 {
        font-size: calc(var(--h1) * 1.4);
      }
    }

    section#hero-image {
      img {
        width: 100%;
      }
    }

    section#prisons {
      position: relative;
      height: 100vh;

      .background {
        height: 93%;
        width: 100%;
        position: absolute;
        img {
          display: block;
          height: 100%;
          margin: 0px auto;
        }
      }

      ul.prisons {

        li.prison {

          ul.instructors {
            position: relative;
            display: block;
            margin: 0px auto;
            li {
              display: inline-block;
              margin: 10px 5px 0px 0px;  
              .image {
                height: 2.1em;
                width: 2.1em;
                border-radius: 100%;
                background-size: cover;
                transition: all 0.177s cubic-bezier(.79,.29,.52,1);
                cursor: pointer;
                &:hover {
                  transform: scale(1.17);
                }
              }
            }
          }

          @media(--breakpoint-md) {
            position: absolute;
            height: 100px;
            color: rgb(120,120,120);
            text-align: center;

            h3 {
              margin-bottom: 0.2em;
            }

            a {
              font-size: 0.8em;
              color: inherit;
              text-decoration: none;
            }

            &.prison:nth-child(1) {
              top: 27%;
              right: 37%;
            }
            &.prison:nth-child(2) {
              top: 53%;
              right: 30%;
            }
            &.prison:nth-child(3) {
              top: 79%;
              right: 34%;
            }
            &.prison:nth-child(4) {
              top: 92%;
              right: 55%;
            }
            &.prison:nth-child(5) {
              top: 78%;
              right: 78%;
            }
            &.prison:nth-child(6) {
              top: 52%;
              right: 70%;
            }
            &.prison:nth-child(7) {
              top: 51%;
              right: 72%;
            }
          }
        }

      }
    }

  }

}

.middle-text {
  display: table;
  .text {
    display: table-cell;
    vertical-align: middle;
  }
}

.subpage {
  display: none;
  position: fixed;
  z-index: 300;
  transition: all 0.137s ease-out;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: 0.001;
  box-sizing: border-box;
  background: rgba(255,255,255, 0.99);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  .content-container {
    .content {
      color: rgb(30,30,30);
    }
    
    a.back {
      color: inherit;
    }
  }

}



