
body {
  overflow-x: hidden;
}

#front-page {
  overflow-x: hidden;
  width: 100%;
  min-height: 100%;

  section#content {

    min-height: 100vh;

    section#articles {

      .article {
        color: inherit;
        text-decoration:none;
        font-family: 'AlteHaasGroteskBold';

        .image {
          height: 10em;
          overflow: hidden;

          @media(min-width: 1700px) {
            height: 15em;
          }
          
          img {
            width: 100%;
            min-width: 100%;
          }
        }

        h1 {
          text-transform: uppercase;
          margin-top: var(--space-1);
          margin-bottom: calc(var(--space-1) / 2);
        }

        p {
          margin-top: 0px;
          margin-bottom: var(--space-1);
          font-size: 0.9em;
        }

        .brand-logo {
          width: 100%;
          height: 3rem;
          background-position: center center;
          background-size: 70% 70%;
          background-repeat: no-repeat;
          &.aftenposten {
            background-image: url(/gfx/Aftenposten_logo.svg);
          }
          &.dn {
            height: 4.5rem;
            background-size: 40%;
            background-image: url(/gfx/dn-logo.png);
          }
          &.amagasinet {
            display: table;
            .text {
              display: table-cell;
              vertical-align: middle;
              text-align: center;
              font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
              font-weight: 600;
              font-size: 1.5em;
            }
          }
        }

      }
    }

    section#hero-text {
      background: rgba(0,0,0, 0.98);
      color: rgba(255,255,255, 0.9);
      line-height: 2.1;
      font-size: 1.1em;
      letter-spacing: 0.03em;
      .col {
        height: 8em;
        @media(--breakpoint-md) {
          height: 15em;
        }
      }
      .h1 {
        font-size: calc(var(--h1) * 1.4);
      }
    }

    section#hero-image {
      img {
        width: 100%;
      }
    }

    section#gallery {

      .col {
        &:nth-child(1) {
          padding-right: var(--space-1);
        }
        &:nth-child(2) {
          padding-left: calc(var(--space-1) / 2);
          padding-right: calc(var(--space-1) / 2);
        }
        &:nth-child(3) {
          padding-left: var(--space-1);
          padding-right: calc(var(--space-1) / 2);
        }
        &:nth-child(4) {
          padding-left: var(--space-1);
        }
      }

      .img {
        position: relative;
        background-color: #3135a7;
        width: 100%;
        background-size: cover;
        .blue {
          position: absolute;
          top: 0px;
          bottom: 0px;
          background-color: #3135a7;
          opacity: 0.6;
          height: 100%;
          width: 100%;
        }
      }


      .short, .medium, .long {
        margin-bottom: var(--space-1);
      }

      .quote {
        color: #3135a7;
        font-size: calc(var(--h5) * 0.9);
      }

      .short {
        min-height: calc(7.5rem * 0.8);
      }

      .medium {
        min-height: calc(10.5rem * 0.8);
      }

      .mediumeses {
        min-height: calc(10rem * 0.8);
      }

      .long {
        min-height: calc(13rem * 0.8);
      }

      .logo {
        background-image: url(/gfx/gy_logo_blue_positiv.svg);
        background-position: center center;
        background-size: 70% 70%;
        background-repeat: no-repeat;
        background-color: transparent;
      }

      @media(--breakpoint-md) {

        .col {
          &:nth-child(1) {
            padding-right: var(--space-2);
          }
          &:nth-child(2) {
            padding-left: var(--space-1);
            padding-right: calc(var(--space-1) + (var(--space-1) / 2));
          }
          &:nth-child(3) {
            padding-left: calc(var(--space-1) + (var(--space-1) / 2));
            padding-right: var(--space-1)
          }
          &:nth-child(4) {
            padding-left: var(--space-2);
          }
        }

        .short, .medium, .long {
          margin-bottom: var(--space-2);
        }

        .quote {
          font-size: var(--h1);
        }

        .short {
          min-height: 15rem;
        }

        .medium {
          min-height: 21rem;
        }

        .mediumeses {
          min-height: 20rem;
        }

        .long {
          min-height: 26rem;
        }
      }

    }

  }

}

.middle-text {
  display: table;
  .text {
    display: table-cell;
    vertical-align: middle;
  }
}

.subpage {
  display: none;
  position: fixed;
  z-index: 300;
  transition: all 0.137s ease-out;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: 0.001;
  box-sizing: border-box;
  background: rgba(255,255,255, 0.99);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  .content-container {
    .content {
      color: rgb(30,30,30);
    }
    
    a.back {
      color: inherit;
    }
  }

}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}



