
body {
  overflow-x: hidden;
}

#front-page {
  overflow-x: hidden;
  opacity: 0.0001;
  transition: opacity 0.137s ease-out;
  width: 100%;
  min-height: 100%;

  header#main-header {

    height: 100vh;
    background-size: cover;

    .logo {
      background-image: url(/gfx/gy_logo_hvit_positiv-01.svg);
      background-size: cover;
      height: 7rem;
      width: 7rem;
    }

    nav#menu {
      text-transform: uppercase;
      font-size: 0.73em;
      ul {
        li {
          a {
            color: rgba(255,255,255, 0.95);
            text-decoration: none;
          }
        }
      }
    }

    .video {

      height: calc(9 * 30)px;
      width: calc(16 * 30)px;
      background: rgba(10,10,10, 0.7);

      .content {
        position: relative;
        padding: calc(var(--space-1) / 2);
        .play-button {          
          background-size: cover;
          height: 50px;
          width: 50px;
          margin: calc((9 * 30) / 2 - 25)px auto;
        }
      }
    }

  }


  section#content {

    min-height: 100vh;

    section#articles {

      article {
        
        font-family: 'AlteHaasGroteskBold';

        .image {
          height: 13em;
          overflow: hidden;
          img {
            width: 100%;
            min-width: 100%;
          }
        }

        h1 {
          text-transform: uppercase;
          margin-top: var(--space-1);
          margin-bottom: calc(var(--space-1) / 2);
        }

        p {
          margin-top: 0px;
          margin-bottom: var(--space-1);
          font-size: 0.9em;
        }

      }
    }

    section#hero-text {
      background: rgba(0,0,0, 0.98);
      color: rgba(255,255,255, 0.9);
      line-height: 2.1;
      font-size: 1.1em;
      letter-spacing: 0.03em;
      .col {
        height: 15em;
      }
      .h1 {
        font-size: calc(var(--h1) * 1.4);
      }
    }

    section#prisons {
      position: relative;
      height: 100vh;

      .background {
        height: 93%;
        width: 100%;
        position: absolute;
        img {
          display: block;
          height: 100%;
          margin: 0px auto;
        }
      }

      ul.prisons {

        li {
          @media(--breakpoint-md) {
            position: absolute;
            color: rgb(120,120,120);
            text-align: center;

            h3 {
              margin-bottom: 0.2em;
            }

            a {
              font-size: 0.8em;
              color: inherit;
              text-decoration: none;
            }

            &:nth-child(1) {
              top: 27%;
              right: 22%;
            }
            &:nth-child(2) {
              top: 48%;
              right: 23%;
            }
            &:nth-child(3) {
              top: 67%;
              right: 34%;
            }
            &:nth-child(4) {
              top: 83%;
              right: 41%;
            }
            &:nth-child(5) {
              top: 92%;
              right: 55%;
            }
            &:nth-child(6) {
              top: 82%;
              right: 74%;
            }
            &:nth-child(7) {
              top: 61%;
              right: 70%;
            }
          }
        }

      }
    }

  }

}

.middle-text {
  display: table;
  .text {
    display: table-cell;
    vertical-align: middle;
  }
}

.subpage {
  display: none;
  position: fixed;
  z-index: 300;
  transition: all 0.137s ease-out;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: 0.001;
  box-sizing: border-box;
  background: rgba(255,255,255, 0.99);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  .content-container {
    .content {
      color: rgb(30,30,30);
    }
    
    a.back {
      color: inherit;
    }
  }

}



