
#instruktoerer {

  .photo {
    border-radius: 100%;
  }

  .instructor-list {

    .instructor {
      text-decoration: none;
      color: inherit;
      cursor: pointer;

      &:hover {
        .photo {
          transform: scale(1.1);
        }
      }

      .photo {
        transition: transform 0.217s cubic-bezier(.62,.35,.3,1.43);
        height: 10rem;
        width: 10rem;
        background-color: black;
        background-size: cover;
      }
    }
  }

  .instructor-detail {
    .photo {
      height: 15rem;
      width: 15rem;
      overflow: hidden;
      img {
        min-width: 15rem;
      }
    }
  }

}