.prisons-wrapper {
  position: relative;
  height: 100vh;

  .background {
    height: 93%;
    width: 100%;
    position: absolute;
    img {
      display: block;
      height: 100%;
      margin: 0px auto;
    }
  }

  ul.prisons {

    li.prison {

      ul.instructors {
        position: relative;
        display: block;
        margin: 0px auto;
        li {
          display: inline-block;
          margin: 10px 5px 0px 0px;  
          .image {
            height: 2.1em;
            width: 2.1em;
            border-radius: 100%;
            background-size: cover;
            transition: all 0.177s cubic-bezier(.79,.29,.52,1);
            cursor: pointer;
            &:hover {
              transform: scale(1.17);
            }
          }
        }
      }

      @media(--breakpoint-md) {
        position: absolute;
        height: 100px;
        color: rgb(120,120,120);
        text-align: center;

        h3 {
          margin-bottom: 0.2em;
        }

        a {
          font-size: 0.8em;
          color: inherit;
          text-decoration: none;
        }

        &.prison:nth-child(1) {
          top: 27%;
          right: 33%;
        }
        &.prison:nth-child(2) {
          top: 53%;
          right: 30%;
        }
        &.prison:nth-child(3) {
          top: 79%;
          right: 34%;
        }
        &.prison:nth-child(4) {
          top: 92%;
          right: 55%;
        }
        &.prison:nth-child(5) {
          top: 78%;
          right: 78%;
        }
        &.prison:nth-child(6) {
          top: 52%;
          right: 74%;
        }
        &.prison:nth-child(7) {
          top: 32%;
          right: 72%;
        }
        &.prison:nth-child(8) {
          top: 11%;
          right: 61%;
        }
        &.prison:nth-child(9) {
          top: -4%;
          right: 55%;
        }
      }
    }

  }
}