
:root {

  --h1: 2.2rem;
  --h2: 1.7rem;
  --h3: 1.25rem;
  --h4: 1rem;
  --h5: .875rem;
  --h6: .75rem;

  --bold-font-weight: bold;

  --space-1: 1rem;
  --space-2: 2rem;
  --space-3: 3.5rem;
  --space-4: 6rem;

  --border-width: 1px;
  --border-radius: 3px;

  --width-1: 32rem;
  --width-2: 48rem;
  --width-3: 64rem;
  --width-4: 82rem;

  --breakpoint-sm: min-width 40em;
  --breakpoint-md: min-width 52em;
  --breakpoint-lg: min-width 64rem;

  --content-block-height: 22rem;

  --offwhite: rgb(247,247,247);
  --light-green: #adffd8;
  --dark-gray: rgb(20,20,20);

}

@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64rem);
@custom-media --breakpoint-xlg (min-width: 1700px);