
:root {

  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --h4: 1rem;
  --h5: .875rem;
  --h6: .75rem;

  --bold-font-weight: bold;

  --space-1: .7rem;
  --space-2: 1.5rem;
  --space-3: 3rem;
  --space-4: 5rem;

  --border-width: 1px;
  --border-radius: 3px;

  --width-1: 32rem;
  --width-2: 48rem;
  --width-3: 64rem;
  --width-4: 96rem;

  --breakpoint-sm: min-width 40em;
  --breakpoint-md: min-width 52em;
  --breakpoint-lg: min-width 96rem;

  --content-block-height: 20rem;

  --light-green: #adffd8;

}

@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 96rem);