@font-face {
  font-family: 'Gotham Black';
  src: url('/fonts/gotham_black.eot'); /* IE9 Compat Modes */
  src: url('/fonts/gotham_black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/gotham_black.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/gotham_black.ttf')  format('truetype'); /* Safari, Android, iOS */
}