
html {
  height: 100%;
}

body {
  height: 100%;
  background-color: @body-bg;
  color: @text-color;
}

#content {
  height: 100%;
}

.container {
  max-width: 100rem;
}

#root-container {
  position: relative;
}