

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: @body-bg;
  color: @text-color;
}

#content {
  height: 100%;
}

.container {
  max-width: 100%;
  box-sizing: border-box;
}

.container#root-container {
  height: 100%;
  padding: 0px;
  
  .coverBackground('/images/vend.jpg');
  .hamburger {
    position: absolute;
    top: 2vh;
    right: 2vh;
    .hamburger(17px, 22px);
    .line {
      background: white;
    }
  }
  
  #root-row.row {
    
  }
  
}