// Override Bootstrap variables in this file, e.g.

@border-radius-base: 0px;

@font-size-base: 14px;
@font-size-large: ceil((@font-size-base * 1.15));
@font-size-h1: floor((@font-size-base * 2.1));
@font-size-h2: floor((@font-size-base * 1.8));
@font-size-h3: floor((@font-size-base * 1.5));

@brand-primary: rgb(246, 213, 70);
@body-bg: rgba(245,245,245, 0);


@brand-color: #5F4879;
@text-color: rgb(30,30,30);

@main-logo-height: 370px;
@main-logo-width: 370px;


