// Override Bootstrap variables in this file, e.g.


/*
  Fonts
*/
@main-font-family: "Alte Haas Grotesk";
@font-size-base: 14px;

/*
  Colors
*/
@brand-primary: rgb(246, 213, 70);
@body-bg: rgba(245,245,245, 0);
@brand-color: #5F4879;
@text-color: rgb(30,30,30);


/*
  Logo
*/
@main-logo-height: 370px;
@main-logo-width: 370px;



/*
  Media queries
*/
@desktop-query:  ~"(min-width: 1200px)";

/*
  Structure
*/
@border-radius-base: 0px;
@content-spacing-base: 2rem;